.idea/.name
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/libraryproject.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/libraryproject_node_modules.xml
.idea/scopes/scope_settings.xml
